@page
@model overviewModel

Welkom, @Model.user.UserName!

@{
    foreach (var x in @Model.tables)
    {
        <button formmethod="post" asp-page-handler="Table">@x.Name</button>        
    }
}
<form>
<input type="range" min="0" max="50">
</form>