@page
@model loginModel

<form method="post">
    Naam:<input asp-for="@Model.loginuser.UserName"><br />
    wachtwoord:<input asp-for="@Model.loginuser.Password" type="password"><br   />



    <input type ="submit" value="log in">
</form>


