@page
@model logoutModel

<head>

</head>
<body>
    <form method="post">
        <h1>Weet je zeker dat je wilt uitloggen?</h1>
        <button type="submit" class="btn btn-danger">Log uit</button>
    </form>
</body>