@page
@model WebdevProjectStarterTemplate.Pages.Rest.OverzichtModel
@{
}
<h1><b>Overzicht</b></h1>
de geselecteerde tafel is @Model.RTableId
<table class="table table-striped">
    <thead>
        <tr>
            <td><b>product</b></td>
            <td><b>hoeveelheid</b></td>
            <td><b>prijs</b></td>
            <td><b>totaal</b></td>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>€€€</b></td>
        </tr>
    </tfoot>
</table>

